<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <link href="{% static 'node_modules\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet"/> 
    <link href="{% static 'node_modules\font-awesome\css\all.css' %}" rel="stylesheet"/> 
    <link rel="stylesheet" href="{% static 'Beryllium/BeTest/css/testStyle.css' %}">


    {% block imports %}
    {% endblock %}
   

    {% block title %}<title>Tests Portal</title>{% endblock %}
</head>

<body>


  
<div class="container-fluid">
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}


    {% block imports_footer %} 
    {% endblock %}
</div>
</body>

</html>