.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

.test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}



.plate{
    background-color: rgb(193, 199, 199);

}

