.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom:3%;
    height: fit-content;
  }

.test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3px;
    
    height: fit-content;
    width: fit-content;
}

.well{
    border-radius: 10px;
}

.plate{
    background-color: rgb(193, 199, 199);
    height: fit-content;
    padding: 3px;
    border-radius: 10px;

}

.fa-cog{
    color:lightgray
}
.fa-cog:hover{
    color:grey
  }

.container{
    margin: 1%;
}

#addTest{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
};

.edit{
    color:orange;
}