{% extends "../base_site.html" %}



{% block content %}

{%load static%}

<div id="test{{test.id}}" class="test">
   
    {% for p in plates %}
    <div id="plate{{p.id}}" class="plate">
        <p>Test No. {{ test.id }} Plate No. {{ p.num }} </p>
        <p> Plate Classification: 
        {%if  p.plate_type.id == 41%}  
        4 Days
        {%endif%}
        {% if p.plate_type.id == 42 %}
        4 Days + PHA
        {%endif%}
        {%if  p.plate_type.id == 61 %}
        6 Days
        {%endif%}
        {%if p.plate_type.id == 62 %} 
        6 Days + PWM
        {%endif%}
        </p>
        
        <div id="wellsforplate{{plate.id}}" class="wrapper">
            {% for w in wells %}
            {% if w.plate == p %}
            <div id="well{{w.id}}parent">
                <style type="text/css" scoped>
                    .wellInfo {
                        display: none;
                    }

                    .well {
                        
                        background-color: lightskyblue;
                       

                    }
                </style>
                <div id ="well{{w.id}}" class="well">

                    <h3>{{ w.numInTest }}</h3>
                    <p>{{w.row}},{{w.column}}</p>
                    <span class="fas fa-cog" onclick="myFunction('wellInfo{{w.id}}')">
                     
                    </span>

                </div>
                <div id="wellInfo{{w.id}}" style="display: none;" >
                    {% load render_partial %}
  {% render_partial 'WellPartial_view' arg2=w.id %}                    
                </div>
               
            </div>
            {% endif %}
            {% endfor %}

          
           <script>
           

                function myFunction(id) {
                  var x = document.getElementById(id);
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }

               
                    
                
            
                         
                    
                
                </script>
        </div>
    </div>

    {% endfor %}
</div>



    {% endblock %}