{% extends "../base_site.html" %}

{% block imports %}
{% load static %}
{% endblock %}


{% block content %}
 <!-- Content Row -->
                    <div class="row">

                        <!-- Beryllium Card Example -->
                        <div class="col-xl-12 col-md-12 mb-12">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                                Beryllium Test ID {{test.id}}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">For Patient {{test.patient}} conducted by {{test.tester}}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Date of conduction {{test.date}}</div>

                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-vials fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
<h1>
    
</h1>
<div id = "rawView" class="row" >
<div class="col">
<div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Test Overview</h6>
    </div>
    <div class="card-body">                
    {% include "Beryllium/BeTest.html" %}
        </div>
    </div>
</div>

<div class="col">
<div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Wells Excel</h6>
    </div>
    <div class="card-body">  
    {% include "Beryllium/WellExcel.html" %}
     </div>
    </div>
</div>

</div>

<script src="{%static  'node_modules\jquery\dist\jquery.min.js'%}"></script>


<script>
 $( document ).ready(changeColor()
                );


 function changeColor(){
                    const divs = document.getElementsByClassName("well");
                    divs.forEach(element => {
                        var txt = element.getAttribute('id');
                        id = txt.split('well').pop();
                        var wellDiv = document.getElementById(txt);
                        var resp = "";

                        var xhttp = new XMLHttpRequest();
                       xhttp.onload = function() {
                            resp = xhttp.responseText;
                            console.log(resp);
                             if( resp == "False"){
                              wellDiv.style.backgroundColor = "red";
                             }
                       }

  
                        xhttp.open("GET", "/Beryllium/isWellActive/"+id);
                        xhttp.send();

                        
                        
                        

                        }
                    )
                    
                }
</script>

{% endblock %}
