{% extends "../base_site.html" %}

{% block imports %}
{% load static %}

<link href="{% static 'node_modules/handsontable/dist/handsontable.full.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/handsontable/dist/handsontable.full.min.js' %}"></script>


{% endblock %}

{% block content %}

<div id="example1" class="hot"></div>

<div class="controls">
  <button id="save" class="button button--primary button--blue">Save data</button>
  <label>
    <input type="checkbox" name="autosave" id="autosave"/>
    Autosave
  </label>
</div>
<pre id="example1console" class="console"></pre>


<script>
const container = document.querySelector('#example1');
const exampleConsole = document.querySelector('#example1console');
const autosave = document.querySelector('#autosave');
const save = document.querySelector('#save');

let autosaveNotification;

const hot = new Handsontable(container, {
 
  rowHeaders: true,
  colHeaders: true,
  height: 'auto',
  licenseKey: 'non-commercial-and-evaluation',
  
  afterChange: function (change, source) {
    if (source === 'loadData') {
      return; //don't save this change
    }

    if (!autosave.checked) {
      return;
    }

    clearTimeout(autosaveNotification);

    ajax('/docs/9.0/scripts/json/save.json', 'GET', JSON.stringify({ data: change }), data => {
      exampleConsole.innerText = 'Autosaved (' + change.length + ' ' + 'cell' + (change.length > 1 ? 's' : '') + ')';
      autosaveNotification = setTimeout(() => {
        exampleConsole.innerText ='Changes will be autosaved';
      }, 1000);
    });
  }
});


  ajax('/Beryllium/WellsJSON/' + '{{test.id}}', 'GET', '', res => {
    const data = JSON.parse(res.response);

    hot.loadData(data.data);

    exampleConsole.innerText = 'Data loaded';
  });


Handsontable.dom.addEvent(save, 'click', () => {
  // save all cell's data
  ajax('/Beryllium/saveWellsJSON/', 'GET', JSON.stringify({ data: hot.getData() }), res => {
    const response = res.response;

    if (response === 'OK') {
      exampleConsole.innerText = 'Data saved';
    } else {
      exampleConsole.innerText = 'Save error';
    }
  });
});

Handsontable.dom.addEvent(autosave, 'click', () => {
  if (autosave.checked) {
    exampleConsole.innerText = 'Changes will be autosaved';
  } else {
    exampleConsole.innerText ='Changes will not be autosaved';
  }
});

function ajax(url, method, params, callback) {
  let obj;

  try {
    obj = new XMLHttpRequest();
  } catch (e) {
    try {
      obj = new ActiveXObject('Msxml2.XMLHTTP');
    } catch (e) {
      try {
        obj = new ActiveXObject('Microsoft.XMLHTTP');
      } catch (e) {
        alert('Your browser does not support Ajax.');
        return false;
      }
    }
  }
  obj.onreadystatechange = () => {
    if (obj.readyState == 4) {
      callback(obj);
    }
  };
  obj.open(method, url, true);
  obj.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  obj.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  obj.send(params);

  return obj;
}
</script>

{% endblock %}

{% block imports_footer %}
{% load static %}


{% endblock %}