{% extends "../base_site.html" %}

{% block imports %}
{% load static %}

<link href="{% static 'node_modules/handsontable/dist/handsontable.full.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/handsontable/dist/handsontable.full.min.js' %}"></script>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>

{% endblock %}

{% block content %}
<div>
<button id="save" class="button button--primary button--blue">Save data</button>

<div id="tableTest{{test.id}}" class="hot"></div>
</div>


 


<script>
const container = document.querySelector('#tableTest{{test.id}}');
const save = document.querySelector('#save');

let autosaveNotification;

const hot = new Handsontable(container, {
 
  rowHeaders: true,
  colHeaders: ['Well ID', 'Plate No.', 'Row','Column', 'Is Active','Well No.','Result to fill'],  height: 'auto',
  licenseKey: 'non-commercial-and-evaluation',
   columns: [
    {
      data: 'id',
      readOnly: true,
    },
    {
      data: 'plate',
      readOnly: true

    },
    {
      data: 'row',
      readOnly: true

    },
    {
      data: 'column',
      readOnly: true

    },
    {
      data: 'active',
      readOnly: true

    },
    {
      data: 'numInTest',
      readOnly: true

    },
    {
      data: 'reading'
    }
  ],
  hiddenColumns: {
    columns: [0],
    indicators: true
  },

});


  ajax('/Beryllium/WellsJSON/' + '{{test.id}}', 'GET', '', res => {
    const data = JSON.parse(res.response);

    hot.loadData(data.data);

  });
 


Handsontable.dom.addEvent(save, 'click', () => {
  // save all cell's data
  ajax('/Beryllium/saveWellsJSON/', 'POST' ,JSON.stringify({ data: hot.getData() }), res => {
    const response = res.response;

    if (response === 'OK') {
      alert('Data saved');
    } else {
      alert('Save error, ' + response);
    }
  });
});




function ajax(url, method, params, callback) {
  let obj;

  try {
    obj = new XMLHttpRequest();
  } catch (e) {
    try {
      obj = new ActiveXObject('Msxml2.XMLHTTP');
    } catch (e) {
      try {
        obj = new ActiveXObject('Microsoft.XMLHTTP');
      } catch (e) {
        alert('Your browser does not support Ajax.');
        return false;
      }
    }
  }
  obj.onreadystatechange = () => {
    if (obj.readyState == 4) {
      callback(obj);
    }
  };
  obj.open(method, url, true);
  obj.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  obj.setRequestHeader('X-CSRFToken', csrftoken);
  obj.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  obj.send(params);

  return obj;
}
</script>

{% endblock %}

{% block imports_footer %}
{% load static %}


{% endblock %}